/* Dispositivos moviles */
@media only screen and (min-width : 320px) and (max-width : 480px) {}

/* ipad y Tables */
@media only screen and (min-width : 481px) and (max-width : 768px) {}

/* pantallas pequeñas, ordenadores portátiles */
@media only screen and (min-width : 769px) and (max-width : 1024px) {}

/* pantallas grandes, ordenadores de escritorio */
@media only screen and (min-width : 1025px) and (max-width : 1200px) {}

/* pantallas extra-grandes, televisores */
@media only screen and (min-width : 1201px)  {}
